[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Cors = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
Flask-Bcrypt = "*"
requests = "*"
python-dotenv = "*"
Flask-JWT-Extended = "*"
Flask-Migrate = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
